h1{
    border: 1px solid black;
    width: 200px;
    margin: 50px auto;
    /* border-width: 10px 5px 50PX 20PX;*/   /*TOP RIGHT bottom LEFT */
    /* border-width: 10px 5 px; /*top-bottom left-right     */
    /* border-width: 5px; /*top-bottom-left-right */
    /* border-width:  2px 10px; Top Righ-tLeft bottom */
    border-width: 10px;
    padding: 5px 20px;/*inside box*/
    box-sizing: border-box;
}

p{
    border: 1px solid yellowgreen;
    width: 500px;
    margin: auto;
    padding: 25px;
    height:150px;
    overflow:scroll;
    box-shadow: -10px -10px 10px green ,10px 10px 10px red
}
body{
    border: 1px solid violet;
    height: 100vh;
}