.para1{
    background-color: rgb(220, 136, 19);
   flex: 1;  /* screen ratio */
   order: 2;
}

.para2{
    background-color: yellowgreen;
    flex: 2;
     order: 1; /*swap order*/
}

.para3
{
    background-color: rgb(210, 207, 17);
    flex: 1;
    order: 3;
    
}
.container{
     display: flex; /* flex-default row wise */
    
     }
p{
    padding: 20px;
    margin: 20px;
}
 .container2{  /*parent class */
    background-color: rgb(207, 127, 102);
    height: 500px;
    display: flex;
   /* justify-content:center ; .....in row(default)- horizontal  in col- vertical*/
    align-items: center;/* in row-vertical  in col-horizontal */
   /* justify-content: space-around; */
   justify-content: space-evenly;
   /* justify-content: space-between; */
   /* flex-wrap: wrap; .......only for width (width wise responsive)*/
   flex-direction:column ;  

   
}   
.box{
    background-color: rgb(248, 196, 246);
    width: 180px;
    height: 180px;
    border: 1px solid white;
   
}
.box2{
    background-color: black;
    flex-grow:1;
}
