body{
    background-image: url(https://images.pexels.com/photos/14538714/pexels-photo-14538714.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size:cover ;
    background-position: center;
}
.loginform{
    font-size: 24px;
    color: aliceblue;
    background-color:rgba(136, 190, 231, 0.625);
    box-shadow:10px 10px rgb(208, 114, 114),
    -10px -10px rgb(208, 114, 114);
    width: 400px;
    margin: 150px auto;
    padding: 30px;
    text-transform: uppercase;
}
h2{
    color: rgb(199, 221, 213);
    text-align: center;
    text-transform: uppercase;
}
.input label{
display: block;
}
.input input{
    width: 100%;
    font-size: 28px;
    padding:0px 15px;
    box-sizing: border-box;
    margin: bottom 10px;;
    border-radius: 5px;
}
.btn{
    text-align: center;
    margin-top: 20px;
}
.btn button{
    text-align: center;
    margin: auto;
    width: 150px;
    font-size: 32px;
    padding: 10px;
    border-radius:15px;
    background-color: chartreuse;

}
.radio input{
    transform: scale(2);
    margin-right: 20px;
}
.radio label{
    margin-right: 50px;
}