.box{
    width: 300px;
    height: 300px;
    background: linear-gradient(to top right,yellow,orange,rgb(255, 123, 0),red);
    margin: 100px auto;
}
html{
    font-size: 20px;  /*grandparent */
}

.box{
    font-size: 16px;  /*parent */
}
#para1{
     font-size: 2em; /* child ( 2em-parent size*2) */
}
#para2{
     font-size: 2rem; /* child (2rem- root(or)grandparent*2) */
}
.container{
    width:50vw ;  /*vw-view port width */
    height:50vh;  /*vh-view port height */
    border: 1px solid black;
}