 /* .para{
    background-color: rgb(217, 207, 98);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
     grid-template-columns: 1fr 2fr 1fr; ......ratio 1:3:2 
      grid-template-rows: 1fr 3fr 1fr 1fr;  
     grid-template-columns: repeat(3,1fr); 
   
     row-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    gap: 20px;
    text-align: center;
}
.para1{
grid-column: span 3;
}
.para2{
    grid-row: span 3;
} */

.layout div{
border: 3px solid black;
font-size: 32px;
display: flex;
justify-content: center;
align-items: center;
}
.layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    background-color: rgb(193, 193, 249);
    grid-template-areas: "h h h"
                         "sb1 m sb2 "
                         "f f f";
}
.head{
    grid-area: h;
}
.main{
grid-area: m;
}
.sb1{
    grid-area: sb1;
}
.sb2{
    grid-area: sb2;
}
.foot{
    grid-area: f;
}


