h1 {
    color: blueviolet;
    font: size 32px; ;
}
#abc{
    color: aqua;
    text-align: center;
}
.text{
    background-color: brown;
}
.text2{
    background-color: darkgoldenrod;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-indent: 2cm;
    text-transform:capitalize;
    font-weight: bold;
}
p::first-letter{
    font-size: 2cm;
}